{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react$", "^react/(.*)$", "^@remix-run/(.*)$", "^@shopify/(.*)$", "<THIRD_PARTY_MODULES>", "^~/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}